/* working with the navigation bar */
.topnav {
    background-color: white;
    overflow:hidden ;
    position: relative;
}
/* trying to set up style for the ancor tags */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* making my name bigger and bolder */
  #name{
      font-weight: 900;
      color: white;
      padding: 15px;
      margin-left: 278px;
      font-size: 40px;

  }
  /* setting color and size of the portfolio tag */
  #portfolio{
      padding-top: 0;
      padding-bottom: 0;
      color: #cacaca;
      border-right-style: solid;
      border-right-color:	#d8d8d8;
      margin-top: 40px;
  }
  /* trying to set the position of other links in the navbar */
  #about{
      padding-top: 0;
      padding-bottom: 0;
      color: #cacaca;
      margin-left: 480px;
      border-right-style: solid;
      border-right-color:	#d8d8d8;
      margin-top: 40px;
  }
  /* setting the size and color of the contact */
  #contact{
      padding-top: 0;
      padding-bottom: 0;
      color: #cacaca;
      border-right-style: solid;
      border-right-color:	#d8d8d8;
      margin-top: 40px;
  }
  /* setting the color for the name */
  .topnav a.active {
    background-color: #4aaaa5;
    color: white;
  }
  /* making the color change when hovering over it */
  .topnav a:hover {
    background-color: red;
    color: black;
  }
  /* placing the image of the left side of the container */
  img{
      float: left;
      width: 200px;
      height: 200px;
      margin-left: 15px;
  }
  /* trying to set the dimensions of the container */
  .container{
      align-content:center;
      width: 960px;
      height: 100%;
      margin: 0 auto;
      border: black;
      border-width: 1px;
      border-style: solid;
      border-color: #cacaca;
      font-size: 24px;
      background: white;
  }
  /* adjusting the footer and adding a top border with a different color */
  footer{
      background-color: gray;
      position: fixed;
      bottom: 0;
      height: 40px;
      width: 100%; 
      border-top: 8px solid #4aaaa5
  }
/* trying to add a small copyright sign in the footer */
  #copyright{
      position: absolute;
      width: 100%;
      font-size: 10px;
      bottom: 0;
      text-align: center;
      color: #cacaca;
  }
  /* tried adding the background texture */
  .back{
  background-image: url(../images/gravel.png); 
  align-content: center;
}
/* wanted to end the float flow */
.clearfix{
    clear: both;
    padding: 10px;
}
/* setting up the font-family for the heading */
h1{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    margin-left: 15px;
}
/* setting up the font-family for any other text */
p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}
/* creating a space between the nav bar and content */
.break{
    height: 15px;
    border: 0;
    margin: 0;
    border-top: 2px;
    border-top-color: #cacaca;
    border-top-style: solid;
}
/* created a space before the footer */
.break2{
    height: 120px;
    border: 0;
}
/* adding box to write in messages */
#message{
    height: 200px;
    width: 95%;
    margin-left: 20px;
}
/* creating box inwhich to write name */
#name1{
    width: 95%;
    margin-left: 20px;
}
/* made box for email */
#email{
    width: 95%;
    margin-left: 20px;
}
/* set the position of submit button */
.button{
    background-color: #4aaaa5;
    color: white;
    margin-left: 20px;
    padding: 10px 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* adjusting the position of the form */
.form{
    margin-left: 20px;
    margin-right: 20px;
}
/* creating a space and a diving line */
.break3{
    border: 0;
    margin: 15px;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: #cacaca;
}
/* adjusting the positoon of the tags to be equal to the boxes of the form */
label{
    margin-left: 20px;
}